::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #2cb978;
}

::-webkit-scrollbar-thumb:hover {
    background: #107a8b;
}
body, html {
    height: 100%;
    background-image: url("gaming-pattern.png");
}

.hero-image {
  background-image: url("maggie_dnd_commission1resize.png");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-color: #5d5d5a; */
  position: relative;
  /* margin-top: 5px; */
  /* border: 1px solid black; */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar-custom {
    /* width: 73.75%; */
    margin: 5px auto;
    background-color: #107a8b;
    color: #3b5441;
    font-weight: bold;
}

.fa-d-and-d, .fa-dungeon {
    margin-right: 15px;
}

i {
    margin: auto;
    color: #2cb978;
}

.navbar-nav button {
    border: 1px solid #3b5441;
    color: #3b5441;
    background-color: #107a8b;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.navbar-toggler-icon {
    margin-top: 10px;
}
.navbar-toggler-icon:focus {
    background-color: #107a8b;
}

.nav2 button {
    border: 1px solid #3b5441;
    color: #3b5441;
    background-color: #107a8b;
    margin: 5px 2px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.navbar-nav button:focus {
    background-color: #2cb978;
}

table {
    margin: 20px auto;
    /* width: 74%; */
    background-color: #2cb978;
    color: #3b5441;
}

tr {
    border: 1px solid black;
}

tr:hover, th {
    background-color: #107a8b;
    color: white;
}

td, th {
    padding: 5px;
}

.spellSack {
    margin: 30px auto;
}

.spellLevelNav {
    background-color: #107a8b;
    /* margin: 0px auto;
    justify-content: center; */
    text-align: center;
    padding: 10px;
}

.spellLevelNav a, .spellLevelNav ul, .spellLevelNav h3 {
    color: white;
    /* margin: 0px auto; */

}

.spellLevelNav ul, .col-9 ul {
    list-style-type: none;
}
.spellLevelNav ul {
    padding-left: 0px;
}
.spellLevelNav a:hover {
    color: #2cb978;
}

.sticky {
    position: fixed;
    top: 0;
    padding: 10px 30px;
}

.spellBtn {
    color: black;
}
.spellBtn:focus {
    background-color: #107a8b;
    color: white;
}

.footer .container p {
    text-align: center;
    font-size: large;
    color: #3b5441;
}

.footer {
    margin: 100px 0px 0px 0px;
    background-color: #107a8b;
}